/*Estilos globales*/
body{
    margin:0;
    font-family :Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

h1,h2,h3{
    margin:0;
}

/*--Encabezados--*/
header{
    background: color #2d6cdf;
    color:rgb(8, 80, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.menu a{
    color:rgb(12, 12, 235);
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover{
    text-decoration: underline;
}

.hero{
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #2d6cdf, #6ca0ff);
    color:white
}

.hero p{
    max-width: 600px;
    margin: 10px auto 30px
}

.boton{
    display:inline-block;
    background-color:white;
    color: #2d6cdf;
    padding: 12px 25x;
    border-radius:30px;
    text-decoration:none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.boton:hover{
    background-color: #eef3ff;
    transform: scale(1.05);
}

.tarjetas{
    display:flex;
    justify-content: center;
    gap:20px;
    padding:50px 20px;
    flex-wrap: wrap;
}

.card{
    background-color:#fff;
    border: 1px solid #ddd;
    border-radius:12px;
    padding: 20px;
    box-shadow: 0 4px 10x rgba(0,0,0,0.1);
    width: 300px;
    text-align:center;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8x 20px rgba(0,0,0,0.15);
}

.card h3{
    margin-bottom: 15px;
}

.card p{
    margin-bottom: 20px;
}

/*Pie de pagina*/
footer{
    text-align: center;
    padding:20px;
    background-color:#2d6cdf;
    color:white;
    margin-top:40px;
}