body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #0056cc;
}
